<div id="letter-container" class="p-8 bg-white rounded-lg shadow-lg text-center">
    <div class="mb-8 flex justify-center space-x-4">
        <button hx-get="{% if order == 'random' %}/mode1?order=alphabetical&index=0{% else %}/mode1?order=random{% endif %}"
                hx-target="#game-container"
                class="p-2 rounded-full {% if order == 'random' %}text-blue-500 bg-blue-100{% else %}text-gray-500 bg-gray-100{% endif %}"
                title="Toggle Order">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 3h5v5M4 20L20 4M4 17v-5h5m9 5v5h-5" />
            </svg>
        </button>
    </div>

    <div class="text-9xl font-bold">{{ letter.letter }}</div>
    <div class="text-2xl mt-4">{{ letter.name }}</div>
    <audio id="letter-sound" src="/static/{{ letter.sound }}" preload="auto"></audio>
    <div class="mt-8 flex justify-center space-x-4">
        <button onclick="document.getElementById('letter-sound').play()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Repeat Sound
        </button>
        {% if order == 'alphabetical' %}
        <button hx-get="/mode1?order=alphabetical&index={{ next_index }}" hx-target="#game-container" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
            Next Letter
        </button>
        {% else %}
        <button hx-get="/mode1?order=random" hx-target="#game-container" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
            Next Letter
        </button>
        {% endif %}
    </div>
</div>
<script>
    document.getElementById('letter-sound').play();
</script> 